/* {
  Border :  2px solid red;
} */
/* Global Declarations */
/*
html {
  margin-left: 18rem;
  margin-right: 18rem;
}
*/
body{
 font: roboto;
}
/* Header Section*/
header {
  display: flex;
  background: #1f2937;
  padding-top: 15px;
  padding-bottom: 6px;
  justify-content: center;
}
header img {
  margin-right: 18rem;
  font-size: 24px;
  color: #F9FAF8;
}
header a {
  margin-left: 1rem;
  font-size: 18px;
  color: #E5E7EB
}

/* Hero Section */
.hero-container {
  display: flex;
  background: #1f2937;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 25rem;
  width: auto;
}
.box_1 {
  height: 13rem;
  Width: 26rem;
}
.box_1 h1 {
  font-size: 42px;
  font-weight: bolder;
  color: #F9FAF8;
  margin-top: 0;
  margin-bottom: 0;
}
.hero-container p {
  font-size: 18px;
  color: #E5E7EB;
  margin-top: 2px;
  margin-bottom:2px;
}
.hero-container button {
  background-color: #3882F6;
  color:#E5E7EB;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-top: 6px;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 6px;
}
.box_2 {
  background-color: gray;
  color: #E5E7EB;
  height: 13rem;
  Width: 26rem; 
}

.box_2 .text {
  margin-left: 80px;
  Margin-top: 90px;
}

/* Random Info Section */ 
h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 0px;
}

.random-container {
  height: 20rem;
  width: auto;
  margin-top: 0;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}
.container {
  width: 7rem;
  padding-left: 2px;
  padding-right: 3px;
  margin: 20px;
  text-align: center;
  font-size: smaller;
}

.box {
  background-color: white;
  height: 7rem;
  width: 7rem;
  margin: 0px;
  margin-top: 40px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #3882F6;
  line-height: 115px
}

/* Testimonial Section */

.testimonial_container {
  height: 20rem;
  width: auto;
  margin-top: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
}
.quote{
  font-size: 28px;
  font-weight: lighter;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 0;
  height: 8rem;
  width: 38rem;
}
.author{
  padding-left: 25rem;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
}

/* Call To Action Section */

.cta_container{
  height: 18rem;
  width: auto;
  margin-top: 0;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.call_box{
  background-color: #3882F6;
  color: white;
  display: flex;
  flex-direction: row;
  height: 7rem;
  width: 48rem;

  border-radius: 8px;
}

.text {
  margin-left: 80px;
}
.text h3 {
  margin-top: 30px;
  margin-bottom: 0px;
}

.text p {
  font-size: small;
  margin-top: 0px;
}

.call_box button {
  margin-left: 120px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid white;
  background-color: #3882F6;
  color:#E5E7EB;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-top: 6px;
  border-radius: 6px;
}