/* {
  Border :  2px solid red;
}*/
header {
  display: flex;
  background: #1f2937;
  padding-top: 15px;
  padding-bottom: 6px;
  margin-left: 18rem;
  margin-right: 18rem;
  justify-content: center;
}
header img {
  margin-right: 18rem;
  font-size: 24px;
  color: #F9FAF8;
}
header a {
  margin-left: 1rem;
  font-size: 18px;
  color: #E5E7EB
}

.hero-container {
  display: flex;
  background: #1f2937;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 25rem;
  margin-left: 18rem;
  margin-right: 18rem;
  width: auto;
}
.box_1 {
  height: 13rem;
  Width: 26rem;
}
.box_1 h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin-top: 0;
  margin-bottom: 0;
}
.hero-container p {
  font-size: 18px;
  color: #E5E7EB;
  margin-top: 2px;
  margin-bottom:2px;
}
.hero-container button {
  background-color: #3882F6;
  color:#E5E7EB;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-top: 6px;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 6px;
}
.box_2 {
  background-color: gray;
  color: #E5E7EB;
  height: 13rem;
  Width: 26rem; 
}
.box_2 .text {
  margin-left: 80px;
  Margin-top: 90px;
}


